<!-- Task name : -->
<!-- <input type="text" class="form-control" (input)="onUpdateTaskTitle($event)"> -->
<!-- <input type="text" class="form-control" [(ngModel)]="taskTitle">
<p> {{ taskTitle }} </p>
<button class="btn btn-primary" [disabled]="!allowAddTask" (click)="onCreateTask()">Add Task</button>
<p *ngIf="taskCreated">{{ taskCreationStatus }}</p>
<hr>
<app-task *ngFor="let task of tasks"></app-task> -->

<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
  <input type="text" class="form-control" [(ngModel)]="filterStr">
  result of search with criteria: <strong>{{filterStr}}</strong>
  <hr>
  <button class="btn btn-primary" (click)="onAddTaskForPipes()">New Task</button>
  <br><br>
  Training Session Status : {{ trainingStatus | async }}
  <br><br>
  <ul class="list-group">
    <li
      class="list-group-item"
      *ngFor="let task of pipeTasks | filter:filterStr:'taskStatus'" >
      <span
        class="badge">
        {{ task.taskStatus }}
      </span>
      {{ task.taskId }} | <strong>{{ task.taskTitle | shorten:'18':'!' }}</strong> | {{ task.creationDate | date: 'fullDate':'':'en_US' | uppercase }} | {{ task.accomplished }}
    </li>
  </ul>
</div>
</div>
</div>