<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <!-- <div>
        <input type="text" [(ngModel)]="name">
        <br><fa name="user"></fa>
        Your name is : {{name}}
      </div>
      <hr>
      <h3>Here is where resides my server components</h3>
      <h4 appBasicHighlight>Components :</h4>
      <h4 appBetterHighlight> [ All tasks ]</h4>
      <br>
      <app-tasks></app-tasks>      

      <div>
        <div [ngSwitch]="switchValue">
          <p *ngSwitchCase="9">9</p>
          <p *ngSwitchCase="10">10</p>
          <p *ngSwitchCase="11">11</p>
          <p *ngSwitchDefault>00</p>
        </div>
      </div> -->

      <app-tasks></app-tasks>

    </div>
  </div>
</div>
